body {
  margin: 0;
  padding: 0;
  background-color: white;
}
section {
  width: 60em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border: 2px solid rgb(209, 225, 231);
  background-color: rgb(239, 250, 255);
  border-radius: 5px;
  padding: 1em;
}
#thumpnail {
  object-fit: cover;
  width: 30em;
  height: 25em;
}
#ingredientBox {
  display: flex;
  flex-direction: row;
}
.ingredient-image {
  object-fit: cover;
  width: 10em;
  height: 10em;
}
#filter {
  display: flex;
  flex-direction: row;
}
#filter p {
  border: 1px solid rgb(69, 69, 69);
  border-radius: 5px;
  margin-right: 0.3em;
}
